/* Global Styles
================
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


:root {
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --white: hsl(0, 0%, 100%);
}


/*  Typography  */

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h3 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -0.8px;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

h1,
h3,
.ready h2 {
  color: var(--very-dark-cyan);
}

header .build-text p {
  color: black;
  opacity: 0.8;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: -0.1px;
  line-height: 1.33em;
}

.container p {
  font-size: 0.735em;
  color: var(--grayish-blue);
  opacity: 0.9;
  line-height: 1.11em;
}

.users-text p {
  letter-spacing: 0.4px;
}

.btn {
  font-size: 0.6rem;
  font-weight: 700;
  border-style: none;
  margin-bottom: 2rem;
}

.footer-11 div p {
  font-size: 0.875rem;
  line-height: 1.28em;
}

.footer-11,
.copyright,
a {
  color: var(--very-pale-cyan);
  opacity: 0.8;
}

.copyright {
  font-size: 0.6rem;
}


/*  Layout  */

header .build {
  background: var(--very-pale-cyan) url("images/bg-hero-mobile.svg") no-repeat;
  padding: 1.5em 0.8em;
}

.topnav img {
  width: 100px;
}

.topnav>ul {
  display: flex;
  justify-content: space-between;
}

.topnav {
  margin: 1em 1em 4.4em;
}

.btn-pri {
  background: var(--white);
  color: var(--very-dark-cyan);
  padding: 0.4em 2em;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.025) 0px 5px 5px -8px,
    rgba(0, 0, 0, 0.1) 0px 5px 5px -2px;
}

h1 {
  margin-bottom: 1em;
}

.build-text {
  text-align: center;
}

.build-text p {
  margin-bottom: 2.4em;
}

.btn-sec {
  background: var(--pink);
  color: var(--very-pale-cyan);
  letter-spacing: 0.5px;
  padding: 1.2em 6em;
  border-radius: 20px;
  transition: opacity 1s;
}

.btn-sec:hover,
.btn-sec:focus {
  opacity: 0.8;
}

.mockup {
  margin: 3.6em 0 0.3em;
}

/* =================  */

/* Cards */

main {
  position: relative;
}

.container {
  background: var(--white);
  margin: 3.5em auto 0;
  width: 88%;
  padding: 3em 2.25em;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.1) 5px 7px 20px 5px;
  border-radius: 15px;
}

.container img {
  margin-bottom: 2.5em;
}

h3 {
  margin-bottom: 0.75em;
}

.users {
  margin-bottom: 13em;
}

.ready {
  width: 93%;
  padding: 2.5em 0;
  position: absolute;
  bottom: -22%;
  left: 3.5%;
  background-color: var(--white);
  text-align: center;
  border-radius: 10px;
}

.ready h3 {
  margin-bottom: 1.7em;
  font-size: large;
}

.ready .btn {
  padding: 1.2em 4em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 10px;
  transition: opacity 1s;
}

.btn:hover,
.btn:focus {
  opacity: 0.5;
}

/*  =================== */

/* Footer */

footer {
  background-color: var(--very-dark-cyan);
  color: var(--very-pale-cyan);
  padding: 6.25em 0em 3em 1em;
  z-index: -1;
}

footer img {
  width: 1.1em;
  height: 1em;
  margin-top: 1.6em;
}

.logo-footer {
  width: 9em;
  height: 1.4em;
  fill: var(--white);
}

.footer-11,
.footer-12,
.footer-13 {
  margin-bottom: 1em;
}

.footer-links-left p,
.footer-links-right p {
  padding: 1em 0;
}

.footer-11 {
  display: -webkit-inline-flex;
}


.social-icons>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;

}

.social-icons ul li {
  margin: 3em .5em 0;
}


.copyright {
  text-align: center;
  margin-bottom: 4em;
}


/*  ================= */

/*  Media Querie  */

@media only screen and (min-width: 1439px) {
  header {
    padding: 2em;
  }

  .topnav img {
    width: 200px;
  }

  .btn-pri {
    padding: 2em 6em;
  }

  header {
    background: var(--very-pale-cyan) url("images/bg-hero-mobile.svg") no-repeat;
  }

  .build {
    width: 100%;
    background: none;
    box-shadow: none;
    display: flex;
  }

  .build-text {
    text-align: left;
    padding: 7% 5% 0;
    flex: 48%;
  }

  .build-image {
    flex: 52%;
  }

  h1 {
    font-size: 40px;
  }

  header .build-text p,
  .grow-text p,
  .conversation-text p,
  .users-text p {
    font-size: 18px;
  }

  h3 {
    font-size: 30px;
  }

  .btn-sec {
    padding: 2em inherit;
  }

  .grow,
  .conversation,
  .users {
    display: flex;
  }

  .grow,
  .users {
    flex-direction: row-reverse;
  }

  .grow div,
  .conversation div,
  .users div {
    flex: 50%;
    padding: 5%;
  }

  .container .grow-text,
  .container .conversation-text,
  .container .users-text {
    padding-top: 10%;
    text-align: left
  }

  .ready {
    width: 60%;
    left: 20%;
    bottom: -15%;
    padding-bottom: 20px;
  }

  .ready h2 {
    margin-bottom: 2em;
  }

  .ready .btn {
    padding: 1.7em 6em;
    border-radius: 30px;
    font-size: 16px;
  }

  .logo-footer {
    padding-left: 5%;
    width: 18em;
    height: 2em;
  }

  .footer {
    display: flex;
  }

  .footer-1 {
    flex: 40%;
    padding: 5%;
  }

  .footer-links-left,
  .footer-links-right,
  .social-icons {
    flex: 20%;
    padding: 5%;
  }

  .copyright p {
    text-align: right;
    padding-right: 5%;
  }
}